@charset "UTF-8";


html {
    min-width: 320px;
    box-sizing: border-box;
    color: #3f3f3f;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.35em;
    font-weight: 400;
    overflow-wrap: break-word;
}
p {
    font-size: large;
}



.wrap {
    width: 470px; /*Ширина*/ 
}

.wrap2 {
    width: 700px; /*Ширина*/ 
}

.wrap div {
    background: rgb(255,255,255);
    margin: 10px;
    padding: 20px;
    border: 1px solid #000
}

.kart {
border-radius: 10px;
border: 5px #ccc solid;
box-shadow: 0 0 10px #444;
}
.header {width:100%; height:60px; background-color:#717dc9; padding:20px; text-align:center}
.left_col {width:120px; height:460px; background-color:#dddddd; padding:15px; vertical-align:top}
.center_col {width:500px; background-color:#ffffff; padding:15px; vertical-align:top}
.right_col {width:120px; background-color:#dddddd; padding:15px; vertical-align:top}
.footer {width:100%; padding:10px 0 10px 20px; background-color:#717dc9; font-size:13px}

#slides{
    position:sticky;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing{
    opacity: 1;
    z-index: 2;
}

#tblink{text-align: center; font: 48px/1.3 Georgia,serif;}